/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  /* Header Styles */
  header {
    background-color: burlywood;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 18px;
    margin-top: 0;
  }
  
  /* Navigation Styles */
  nav {
    background-color: #f2f2f2;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #2c3e50;
  }
  
  /* Main Content Styles */
  main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  section {
    margin-bottom: 60px;
  }
  
  section h2 {
    color: #2c3e50;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .project {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .project:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .project h3 {
    color: #2c3e50;
    font-size: 22px;
    margin-top: 0;
  }
  
  /* Footer Styles */
  footer {
    background-color:bisque;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }